.ActionsButtonsPrimary {
  margin-top: 2vh;
  border: none;
  outline:none;
  font-weight: bold;
  width: 80px;
  height: 35px;
  cursor: pointer;
}
  
.ActionsButtonsLink {
  color: #CE9F73;
  font-size: 0.8em;
  float: right;
  margin-top: 2.8vh;
  cursor: pointer;
}

