html,
body,
#root {
  display: inline-block;
  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  overflow: hidden;
  margin-bottom: 0px;

  font-size: 1em;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif !important;
}

.App {
  text-align: left;
  background-color: #680309;
  color: #eEbF93;
  height: 100%;
}

.creme {
  color: #eEbF93;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #680309;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BackgroundVermelhoEscuro {
  background-color: #3e0003;
}

#LogoAmal {
  display: inline-block;
  height: 164px;
  width: 165px;
  margin-left: -155px;
}

ul {
  list-style: none;
  padding: 0px; 
  margin: 0px;
}

ul li {
  display: inline-block;
  width: 100%;
  float: left;
}

.MenuCentral {
  display: inline-table; 
}

.MenuCentral li {
  text-align: center;
}

.half {
  display: flex;
  width: 50%;
  height: 100%;
  float: left;
  justify-content: center;
  align-items: center;
}

#imagem {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.HomeButton,
button,
.btn {
  background-color: rgb(206, 193, 182);
  color: #400A07;
  padding: 1vh;
  border-radius: 4px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}

.btn {
  display: inline-block;
  height: 25px !important;
  line-height: 30px;
  text-align: center;
  padding: 5px 5%;
}

.HomeButton:hover,
button:hover,
.btn:hover {
  background: #fbdcca;
}

.HomeButton {
  width: 300px;
  text-align: center;
}


.CarouselApproval {
  min-height: 40vh;  
  background-color: #fff;
  color: black;
}

.dataTable {
  
  overflow: hidden;
}



.gVZomo {
  overflow: hidden;
}

.linkHome {
  color: white;
  margin-top: 20px;
  margin-left: 80%; 
  position:absolute ;
  z-index:150;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
