.InputText h3 {
    padding-top: 3vh;
    color: white;
  }

  .InputText h3 span {
    font-size: 0.7em;
    padding-right: 1vh;
  }

  .InputText input, .InputText input:focus{
    height: 30px;
    font-weight: bold;
    background-color: #400A07;
    color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    border: 2px solid #FFF;
  }

  .InputText input[type=text],
  .InputText input[type=number],
  .InputText input[type=password],
  .InputText select {
    width: 100%;
  }

  .InputText select {
    height: 5vh;
  }

  .InputText .LabelInputText span {
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    display:block;
    color: #CD9A7B;
    font-size: 0.8em;
  }

  .InputText .LabelInputText span:first-child {
    font-weight: bold;
    font-size: 1em;
  }

  .InputText .select-container {
    background: rgba(64, 10, 7, 0.95);
    color: #FFF;
    border-radius: 5px;
  }

  .InputText .radio-container {
    position: relative;
    margin: 0.5rem;
    line-height: 20px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #FFF;
  }

  .InputText .radio-container input{
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    float: left;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;

  }

  .InputText .radio-container input::before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 10;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2;
  }

  .InputText .radio-container input + label {
    padding: 6px 0px 4px 5%;
    position: absolute;
    float: left;
    left: 0px;
    top: 0px;
    width: 95%;
    border-radius: 4px;
    pointer-events: none;
    z-index: 1;
    background: #400A07;
  }

  .InputText .radio-container input:checked::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 0.5rem;
    border-color: #400A07;
    border-top-style: none;
    border-right-style: none;
  }

  .InputText .radio-container input:checked + label {
    color: #400A07;
    background: #FFF;
  }

  .InputText .radio-container input::after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background: #400A07;
    cursor: pointer;
  }

  .InputText .radio-container input[type=checkbox] + label{}
